*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: raleway, sans-serif!important;
}


.navbar{
    background-color: rgba(2, 41, 67, 0.80);
    position:fixed;
    width: 100%;
    z-index: 10
}

.navbarMobile{
    display: none;
    background-color: rgba(2, 41, 67, 0.80);
    position:fixed;
    width: 100%;
    z-index: 10;

}

.navbarVisibility{
    display: none;
}

.change .navbarVisibility{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin: 14px 0 0 0;
    box-sizing: border-box;
}


.navbar ul{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    margin-right: 100px;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 14px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.change .ff{
    top:300px
}

li a{
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    padding: 20px 20px 15px 20px;
    margin: 0 20px;
    color: #53BAD5;
    font-size: 20px;

}


li a:hover{
    color: #59E2FF;
    border-bottom:2px solid #59E2FF ;

}


.navbar li:last-child{
    display: flex;
    text-align: center;
    justify-items: center;
    margin: 0 20px;
    align-self: center;
}

.lang,.langMobile{
    color: #53BAD5;
    font-size: 20px;
    background: rgba(2, 41, 67, 0.50);
    border: none;
    height: 40px;
}

option:checked{
    color: #88E9FF;
}

.lang:focus,.langMobile:focus{
    outline: none;
}


.videoBackground{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}
.ff{
    position: absolute;
    top: 250px;
    background: rgba(238, 238, 238, 0.4);;
    color: #fff;
    width: 100%;
    padding: 30px 0;
}
.dd{
    position: relative;
    background: rgba(238, 238, 238, 0.4);
    width: 100%;
    padding: 30px 0;
    text-shadow: rgba(0, 0, 0, 0.4) 0 4px 5px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.divForm ,.divFormEn{
    text-align:center;
}


.form{
    display:inline-block;
    padding:20px 50px 6px 50px;
    background-color: rgba(77, 158, 172, 0.71);
    border-radius: 25px;

}

.emailFormText{
    padding:5px ;
    font-size: 18px;
}

INPUT[type="text"],INPUT[type="email"] {
    border: none;
    border-bottom: 3px solid #eee;
    height: 50px;
    width: 475px;
    font-size: 20px;
    padding-left:25px ;
    border-radius: 25px;
    color: #757575;
}

input[type="text"]:focus,input[type="email"]:focus{
    outline:none;
    background: #eee; /* Цвет фона */
    border: 2px solid #59E2FF; /* Параметры рамки */
}

textarea{
    width: 450px;
    height: 150px;
    border:3px solid #eee;
    border-radius: 25px;
    padding:25px 25px 25px 25px ;
    font-size: 20px;
    color: #757575;
}

textarea:focus{
    outline: none;
    background: #eee; /* Цвет фона */
    border: 3px solid #59E2FF; /* Параметры рамки */
}

.formSubmit{
    border:2px solid #53BAD5;; /* фон */
    background: white;
    color:#53BAD5; ;
    border-radius: 5px; /* закругленные углы */
    float: right; /* выравнивание справа */
    font-weight: bold; /* жирный текст */
    margin: 10px; /* отступы */
    padding: 10px 16px; /* оступы для текста */
    cursor: pointer;
}

.formSubmit:hover {
    background: #53BAD5;;
    color: white;
}

a{
    display: flex;
    padding: 20px;
    color: #53BAD5;
    font-size: 20px;
    text-decoration: none;
}

.telegramLink{
    display: flex;
    flex-direction: row;
    background: rgba(77, 158, 172, 0.71);
    padding: 0;
    margin-top: 20px;
    color: white;
}

.telegramLink:hover{
    outline: none;
    color: #59E2FF;

}

.telegramLink img{
    object-fit: cover;
    width: 50px;
    height: 50px;

}


input:invalid,textarea:invalid {box-shadow: none;}

.pageTitle{
    text-align: center;
    font: normal normal normal 43px/1.4em raleway,sans-serif;
    font-weight: bold;
    margin: 60px 200px 50px 200px;

}
.pageСontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.thumbnail{
    border: 0 solid rgba(50, 50, 50, 1);
    background-color: rgba(77, 158, 172, 0.71);
    border-radius: 25px;
    width: 600px;
    height: auto;
    display: flex;
    align-items: center;
}

.pageText{
    text-align: center;
    font: normal normal normal 24px/1.4em raleway,sans-serif;
    margin: 25px;
}

.pageImg{
    width: 600px;
    border-radius: 25px;
}

.pageFooterText{
    text-align: center;
    font: normal normal normal 30px/1.4em raleway,sans-serif;
    font-weight: bold;
    margin: 80px 200px 0 200px;
}

.page_3_Container{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
}

.page_4_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px 0 200px;
    padding-top: 30px;
}

.page_4_ContainerLink{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px
}



@media handheld, (max-width: 900px) {
    .navbar{display: none}
    .navbarMobile{display: flex;justify-content: space-between;}
    .navbarMobile .langMobile{margin: 14px;font-size: 14px}
    li a{font-size: 13px;padding: 15px}
    .ff{top:255.8px}
    nav ~ div.ff{padding: 20px 0}
    div.ff h6{font-size: 12px!important;padding: 0 40px;}
    div.ff h3{font-size: 25px!important;padding: 20px 40px 0 40px}
    .pageTitle{ margin: 0;font-size: 20px;padding: 0 50px}
    .pageСontainer{ flex-direction: column;align-items: center;padding-top: 20px;}
    .thumbnail{width: 275px!important;}
    .pageText{font-size: 15px}
    .pageImg{width: 275px!important;margin-top: 20px}
    .pageFooterText{font-size: 16px;margin:20px 50px 0 50px}
    #page2 .pageСontainer img{margin-top: 0}
    #page2 .thumbnail{margin-top: 20px}
    #page2 ~ .dd{padding-top: 20px!important; }
    #page3 .pageTitle ~ .pageFooterText{margin: 0 50px!important;}
    .page_3_Container{margin: 0 50px;padding-top: 0}
    #page3 .thumbnail{ margin-top: 20px!important;}
    #page3 .pageFooterText{padding-top: 20px}
    .page_4_Container{margin: 0 50px;flex-direction: column}
    .page_4_ContainerLink{margin-bottom: 20px}
    .page_4_ContainerLink p{font-size: 15px!important;}
    .page_4_ContainerLink div{margin: 10px}
    .page_4_ContainerLink .telegramLink{font-size: 17px}
    .page_4_ContainerLink img{width: 40px;height: 40px}
     .divForm .form,.divFormEn .form{padding:10px}
    .divFormEn .emailFormText{font-size: 15px}
    .emailFormText{font-size:13px}
    INPUT[type="text"], INPUT[type="email"]{width: 170px;height: 30px;font-size: 15px}
    textarea{width: 160px;height: 60px;font-size: 15px;padding: 15px}
    .formSubmit{padding: 8px 11px}
    #page2,#page3,#page4{margin-top: 40px!important;}
    #okno{width: 200px!important}
}


 @media (min-width: 900px) and (max-width: 1400px) {
     li a{font-size: 18px;}
     div.ff h3{font-size: 85px!important;}
     .pageTitle{font-size: 30px;margin-left: 80px;margin-right: 80px;}
     .pageImg{width: 430px;}
     .thumbnail{width: 430px;}
     .pageText{font-size: 16px;}
     .pageFooterText{font-size: 24px;margin-right: 100px;margin-left: 100px}
     .dd#page3 div.pageFooterText{margin: 0 80px!important;}
     .page_3_Container{margin-right: 80px;margin-left: 80px;}
     .page_3_Container .pageImg{width: 600px!important;}
     .page_3_Container .thumbnail{width: 600px!important;}
     .dd#page3 h4.pageFooterText{margin-right: 80px!important;margin-left: 80px!important;}
     .dd#page4 div.page_4_Container{margin-left: 80px!important;margin-right: 80px!important;}
     .dd#page4 .page_4_Container .divForm{margin: 15px;}
}

@media (min-width: 900px) and (max-width: 1200px) {

    .dd#page4 .page_4_Container .form{padding-left:30px!important;padding-right: 30px!important;}
    .dd#page4 div.page_4_Container .page_4_ContainerLink a.telegramLink{width: 275px!important;}
    .dd#page4 .page_4_Container .form INPUT[type="text"], INPUT[type="email"]{width: 275px!important;}
    .dd#page4 .page_4_Container .form textarea{width: 250px!important;}
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .dd#page4 .page_4_Container .form{padding-left:50px!important;padding-right: 50px!important;}
    .dd#page4 div.page_4_Container .page_4_ContainerLink a.telegramLink{width: 425px!important;}
    .dd#page4 .page_4_Container  .form INPUT[type="text"], INPUT[type="email"]{width: 425px!important;}
    .dd#page4 .page_4_Container .form textarea{width: 400px!important;}
}



#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 300px;
    height: 70px;
    text-align: center;
    padding: 40px;
    border: 3px solid #757575;
    border-radius: 25px;
    color: #757575;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #eee;

    overflow-y: hidden;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #53BAD5;
    color: #53BAD5;
    padding: 0 15px;
    margin: 25px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
    border-radius: 5px;
    overflow-y: hidden;
}
.close:hover {background: #53BAD5; color: white}